
{% extends 'base.html' %}

{% block body %}


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        {% for melon in cart.values() %}
        <tr>
            <td>{{ melon[0] }}</td>
            <td>{{ melon[2] }}</td>
            <td>{{ melon[1] }}</td>
            <td>{{ melon[3] }}</td>
        </tr>
        {% endfor %}


    </table>

    <h3>Total: </h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
